.todocontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(
    to bottom,
    rgba(21, 23, 37, 255),
    rgba(14, 16, 25, 255)
  );
  min-height: 70vh;
  margin: 7% 14%;
  height: fit-content;
}

.todocontainer h2 {
  color: #ffff;
}

.container {
  display: flex;
  border: 2px solid rgb(0, 4, 255);
  margin-bottom: 1.4em;
  width: 50%;
}

.container .addButton {
  color: white;
  background: linear-gradient(to right, rgb(0, 162, 255), rgb(0, 4, 255));
  border: none;
  border-radius: 3px;
  padding: 1em;
  width: 46%;
}

.container .addButton:hover {
  cursor: pointer;
}

.container > input {
  background: linear-gradient(
    to bottom,
    rgba(21, 23, 37, 255),
    rgba(14, 16, 25, 255)
  );
  outline: none;
  border: none;
  color: #fff;
  padding: 1rem;
  width: 100%;
}

.tareas {
  display: flex;
  background-color: #009cad;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 1.5em;
  padding: 0em 1em;
}
.acciones {
  font-size: 1.5em;
  display: flex;
  width: 5em;
  justify-content: space-around;
}

.acciones > * {
  cursor: pointer;
}

.editTask {
  background-color: #009cad;
  outline: none;
  border: none;
  color: #fff;
  padding: 1rem;
  width: 30rem;
}

.editTask::placeholder {
  color: rgb(221, 221, 221);
}

.toDoOptions {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
  margin-bottom: 0.5%;
}

.toDoOptions > * {
  background: linear-gradient(to bottom, #005087, rgb(55 0 255));
  outline: none;
  border: none;
  padding: 1em 2em;
  color: white;
  border-radius: 4px;
}

.toDoOptions > *:hover {
  cursor: pointer;
}

#tareasp-act {
  background: linear-gradient(to bottom, #23a3fb, #121ff9);
}

#tareasc-act {
  background: linear-gradient(to bottom, #23a3fb, #121ff9);
}

@media only screen and (max-width: 875px) {

  .todocontainer {
    margin: 7% 2%;
  }

  .container {
    width: 90%;
  }

  .toDoOptions {
    margin-bottom: 3%;
    width: 100%;
  }

  .toDoOptions > * {
    padding: 4% 4%;
  }
}
